@font-face {
    font-family: Codec-Warm-Heavy;
    src: url(fonts/codec.warm-trial-heavy.ttf);
}

@font-face {
    font-family: Codec-Warm-Bold;
    src: url(fonts/codec.warm-trial-bold.ttf);
}

@font-face {
    font-family: Codec-Cold-News;
    src: url(fonts/codec.cold-trial-news.ttf);
}

@font-face {
    font-family: Codec-Cold-Thin;
    src: url(fonts/codec.cold-trial-thin.ttf);
}

@font-face {
    font-family: Codec-Cold-Light-Italic;
    src: url(fonts/codec.cold-light-italic.ttf);
}

* {
    box-sizing: border-box;
}

.mvg-logo {
    position: fixed;
    z-index: 2;
    display: flex;
    left: 2rem;
    top: 2rem;

    /* filter: drop-shadow(0px 10px 10px rgba(255, 140, 0, 0.235)); */
}

.mvg-logo img {
    width: 13rem;
    transition: all 0.3s;
}

.mvg-logo img:hover{
    transform: scale(1.3) rotate(-5deg);
}

.site-header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    width:100%;
    height: 5rem;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(0, 0, 0);
    filter: drop-shadow(0px 10px 30px rgba(0, 234, 255, 0.329));
}

.header-menu-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 2rem;
}

.header-menu-nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.header-menu-nav li{
    float: left;
}

.header-menu-nav a{
    display: block;
    text-align: center;
    padding-inline: 1.2rem;
    text-decoration: none;
    font-family: Codec-Warm-Bold;
    font-size: 2.7rem;
    color: rgb(125, 0, 243);
}

.header-menu-nav a:hover, #current-page{
    font-size: 3.1rem;
    font-family: Codec-Warm-Heavy;
    color: rgb(238, 0, 255);
}



body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}


/* =========================== HOME PAGE ===========================*/

.hero-woodwhis {
    width: 100%;
    padding-top: 4.3rem;
    background-image: linear-gradient(rgba(43, 216, 255, 0.162), rgba(248, 34, 255, 0.151)), url("game-images/Woodland-Whispers-Splash.png");
    height: 50rem;
    background-position: center;
    background-position-y: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* filter: drop-shadow(0px 10px 30px rgba(81, 230, 101, 0.329)); */
}

.hero-woodwhis > a {
    transition: 0.3s transform;
}

.hero-woodwhis > a:hover {
    transform: scale(1.15);
}

#play-now {
    margin-top: 2rem;
    padding-inline: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto; 
    height: 3rem; 
    border-radius: 10px;
    background-color: black;
    font-family: Codec-Cold-News;
    font-size: 30px;
}
#play-now a {
    text-decoration: none;
    color: beige;
}


#ww-title {
    width: 600px;
}

.welcome-wrapper {
    padding-inline: 17%;
    padding-block: 20px;
    display: flex;
    flex-direction: row;
    font-family: Codec-Cold-News;
    background-image: url(site-decorations/vaporwave_sunset.png);
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
}

.welcome-wrapper img {
    padding-right: 20px;
}

.welcome-wrapper h1 {
    line-height: 200%;
    color: white;
}

.welcome-wrapper p {
    padding-inline-start: 30px;
    color: white;
    font-size: 24px;
    line-height: 160%;
}

.welcome-wrapper > div > div {
    display: flex;
}

.welcome-wrapper #we-are-txt {
    font-family: Codec-Warm-Bold;
    font-size: 40px;
    color: orange;
}

.welcome-wrapper #mvg-txt {
    font-family: Codec-Warm-Heavy;
    font-size: 60px;
    color: aqua;
}

.welcome-wrapper #read-more-txt {
    padding-inline-start: 30px;
    font-size: 24px;
    text-decoration: none;
    transition: 0.3s transform;
    transition: color 0.3 ease;
    
}
.welcome-wrapper #read-more-txt:hover {
    transform: scale(1.2);
    color: aqua;
}

/* =========================== END HOME PAGE =========================== */



/* =========================== WOODLAND WHISPERS =========================== */

.woodland-whispers-wrapper{
    padding-inline: 17%;
    padding-top: 5rem;
    background-image: url(game-images/Woodland-Whispers-bg.png);
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: top;
    font-family: Codec-Cold-News;


    height: 700px;
}

.woodland-whispers-wrapper :first-child {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.woodland-whispers-wrapper hr {
    height: 5px;
    border-width: 0;
    background-color: rgb(210, 210, 136);
    border-radius: 3px;
    
}

.woodland-whispers-wrapper p {
    padding-inline: 10%;
    color: white;
    font-size: 24px;
    line-height: 160%;
}

/* =========================== END WOODLAND WHISPERS =========================== */



/* =========================== FOOTER =========================== */

.site-footer{
    background-color: rgb(137, 27, 93);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: Codec-Cold-Thin;
}

.site-footer p {
    font-family: sans-serif;
}

.site-footer > div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


.site-footer img {
    width: 70px;
}


